Babel==2.3.4
Django==1.9.6
django-admin-bootstrapped==2.5.7
django-bootstrap3==7.0.1
django-extensions==1.6.7
django-phonenumber-field==1.1.0
django-registration==2.1
phonenumberslite==7.4.1
pytz==2016.4
six==1.10.0
