Babel==2.3.4
defusedxml==0.4.1
Django==1.9.6
django-admin-bootstrapped==2.5.7
django-autofixture==0.12.1
django-bootstrap3==7.0.1
django-extensions==1.6.7
django-phonenumber-field==1.1.0
django-registration==2.1
oauthlib==1.1.2
phonenumberslite==7.4.1
PyJWT==1.4.0
python-social-auth==0.2.19
python3-openid==3.0.10
pytz==2016.4
requests==2.10.0
requests-oauthlib==0.6.1
six==1.10.0
