{% extends "base.html" %}

{% block breadcrumbs %}
    {{ block.super }}
    &gt;
    <a href="{{ view.restaurant.get_absolute_url }}">{{ view.restaurant }}</a>
    &gt;
    <a href="{% url 'bite:dishes_list' view.restaurant.id %}">Restaurant Menu</a>
{% endblock %}

{% block content %}
    <a href="{% url 'bite:dishes_add' view.restaurant.id %}">Add Dish</a>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ object.name }}</td>
                <td>$ {{ object.price }}</td>
                <td>{{ object.description }}</td>
                <td><a href="{% url 'bite:dishes_update' view.restaurant.id object.pk %}">Update</a></td>
                <td><a href="{% url 'bite:dishes_delete' view.restaurant.id object.pk %}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
{#        <tfoot>#}
{#        <tr>#}
{#            <td>Total:</td>#}
{#            <td>$ {{ view.total }}</td>#}
{#            <td></td>#}
{#        </tr>#}
{#        </tfoot>#}
    </table>
{% endblock %}