{% extends "bite/restaurant_detail.html" %}
{% load staticfiles %}
{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'bite:user_order' view.restaurant.id %}">Order</a></li>
    {#    <a href="{% url 'bite:dishes_list' view.restaurant.id %}">Restaurant Menu</a>#}
{% endblock %}

{% block mypage %}
    <li><a href="#User_My_Orders">My Orders</a></li>
{% endblock %}

{% block content %}
    {#    <a href="{% url 'bite:dishes_add' view.restaurant.id %}">Add Dish</a>#}
    <div class="row">
        <div class="col-md-6">
            <h3 align="center">Click on a dish to add to order</h3>
            <div class="table-responsive">
                <table id="menuTable" class="table table-hover tablesorter">
                    <thead>
                    <tr class="info">
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr data-id="{{ object.id }}">
                            <td>{{ object.name }}</td>
                            <td>$ {{ object.price }}</td>
                            <td>{{ object.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {#            <ul id="dishes">#}
            {#                {% for object in object_list %}#}
            {#                    <li data-id="{{ object.id }}" data-price="{{ object.price }}">{{ object.name }} - $ {{ object.price }} - {{ object.restaurant.name }}</li>#}
            {#        <td>{{ object.description }}</td>#}
            {#                {% endfor %}#}
            {#            </ul>#}
        </div>
        <div class="col-md-6">
            <h3 align="center">Click on a dish to remove from order</h3>
            {#            <form action="" method="post">{% csrf_token %}#}
            {#                {{ form.as_p }}#}
            {#                <input type="submit" value="Save"/>#}
            {#            </form>#}
            <div style="border: 1px solid black">
                <form method="post" id="frm">
                    {% csrf_token %}
                    <div class="table-responsive">
                        <table id="orderTable" class="table table-hover tablesorter">
                            <thead>
                            <tr class="info">
                                <th>Name</th>
                                <th>Price</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align: center">
                        <p id="price_total">Total: $<span>0</span></p>
                        <button type="button" class="btn btn-default">Order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    <link href="{% static "bite/css/tables.css" %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    <script src="{% static "bite/js/order_page.js" %}"></script>
    <script src="{% static "bite/js/jquery.tablesorter.js" %}"></script>
    <script>
        $(document).ready(function () {
                    $("#menuTable").tablesorter();
                    {#                    $("#orderTable").tablesorter();#}
                }
        );
    </script>
{% endblock %}