{% extends "base.html" %}

{% block breadcrumbs %}
    {{ block.super }}
    &gt;
    <a href="{% url 'bite:restaurant_list' %}">Restaurants</a>
{% endblock %}

{% block content %}
    {#    {{ view.fields }}#}
    <a href="{% url 'bite:restaurant_add' %}">Add Restaurant</a>
    <table>
        <thead>
        <tr>
            {% for field in view.fields %}
                <th>{{ field|title }}</th>
            {% endfor %}
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td><a href="{% url 'bite:restaurant_detail' object.pk %}">{{ object.name }}</a></td>
                <td>{{ object.address }}</td>
                <td>{{ object.phone }}</td>
                <td>{{ object.email }}</td>
                <td>{{ object.active }}</td>
                <td>{{ object.owner }}</td>
                <td>{{ object.description }}</td>
                <td><a href="{% url 'bite:restaurant_update' object.pk %}">Update</a></td>
                <td><a href="{% url 'bite:restaurant_delete' object.pk %}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
        {#        <tfoot>#}
        {#        <tr>#}
        {#            <td>Total:</td>#}
        {#            <td>$ {{ view.total }}</td>#}
        {#            <td></td>#}
        {#        </tr>#}
        {#        </tfoot>#}
    </table>
{% endblock %}