{% extends "bite/restaurant_list.html" %}

{% block breadcrumbs %}
    {{ block.super }}
    &gt;
    {% if not view.restaurant.name %}
        <a href="{{ view.restaurant.get_absolute_url }}">{{ object.name }}</a>
    {% else %}
        <a href="{{ view.restaurant.get_absolute_url }}">{{ view.restaurant.name }}</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Restaurant Menu</h1>
    <a href="{% url 'bite:dishes_list' object.id %}">Edit Menu</a>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for object in view.dishes %}
            <tr>
                <td>{{ object.name }}</td>
                <td>$ {{ object.price }}</td>
                <td>{{ object.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
{#        <tfoot>#}
{#        <tr>#}
{#            <td>Total:</td>#}
{#            <td>$ {{ view.total }}</td>#}
{#            <td></td>#}
{#        </tr>#}
{#        </tfoot>#}
    </table>
{% endblock %}